<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <table>
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 25%;">
                </colgroup>

                <tr>
                    <td><input type="checkbox" name="data.check" {{#if data.check}} checked {{/if}} /></td>
                    <th>{{localize "MAGICALOGIA.Destiny"}}</th>
                    <td><input type="text" name="data.destiny" value="{{data.destiny}}"></td>
                    <th>{{localize "MAGICALOGIA.Attribute"}}</th>
                    <td><input type="text" name="data.attribute" value="{{data.attribute}}"></td>
                </tr>

            </table>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
