<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

            <table>
                <colgroup>
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 25%;">
                </colgroup>

                <tbody>
                    <tr>
                        <th>{{localize "MAGICALOGIA.Requirement"}}</th>
                        <td colspan="5"><input type="text" name="data.requirement" value="{{data.requirement}}"></td>
                    </tr>
                    <tr>
                        <th>{{localize "MAGICALOGIA.RequireExp"}}</th>
                        <td><input type="text" name="data.require_exp" value="{{data.require_exp}}"></td>

                        <th>{{localize "MAGICALOGIA.Quantity"}}</th>
                        <td><input type="text" name="data.quantity" value="{{data.quantity}}"></td>

                        <th>{{localize "MAGICALOGIA.Format"}}</th>
                        <td><input type="text" name="data.format" value="{{data.format}}"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </header>



    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">

            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
