<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}
        {{#ifEquals num '-'}}
        {{else}}
         / {{num}}
        {{/ifEquals}}
        </div>
        {{{tooltip}}}

        {{#if doublet}}
        <h4 class="dice-total" style="color: #4131c7; margin-bottom: 4px">
            <span>Doublet! - {{localize mana}}</span>
        </h4>
        {{/if}}
        <h4 class="dice-total">
            {{#ifEquals num '-'}}
                {{total}}
            {{else}}
                {{#ifSuccess total num}} <span style="color: #0f6f0f">Success</span> 
                {{else}}  <span style="color: #862020">Failed</span> {{/ifSuccess}} 

                ({{total}})
            {{/ifEquals}}
        </h4>
    </div>
</div>
